<!DOCTYPE html>
<html>
    <head>
        <title>Backpacking Places</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        
    </head>
    <body>
    
    
    <div id="landing-header">
 		<h1>Welcome To Backpacking Places</h1>
		<a href="/campgrounds" class="btn btn-lg btn-success"><i class="fa fa-tree"></i> Get Started</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footer %>